body {
    margin: 0;
}

.none {
    display: none;
}
.block {
    display: block;
}
.default-container {
    display: flex;
    justify-content: center;
}
.canvas-container {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHUlEQVQ4jWNgYGAQIYAJglEDhoUBg9+FowbQ2gAARjwKARjtnN8AAAAASUVORK5CYII=");
    background-size: 30px 30px;

}
.aside-container {
    display: flex;
    align-items: center;
    height: 10vh;
}
.right-align {
    margin: auto 12px auto auto;
}
/* Reset default button styles */
.upload-label {
    padding: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.upload {
    margin: 12px;
}

/* Styling for button hover state */
.upload-label:hover {
    background-color: #45a049; /* Darker shade of green */
}
